body {
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('../img/background.webp') no-repeat center center fixed;
    background-size: 100% 100%;
    color: #fff;
    line-height: 27px;
    font-family: 'Lato', sans-serif;
}

#currentWinner {
    font-weight: bold;
}

li {
    font-size: 1.3rem;
    list-style: none;
}

form, #checkWinner, #clearPool {
    font-size: 1.5rem;
    width: 20%;
    margin: auto;
}

#currentWinner {
    font-size: 2rem;
}

#winsLabel, #personLabel, form button {
    margin: 2% 0%;
    font-size: 1.5rem;
    width: 100%;
}
